:root {
  --main-font-color: rgb(81,35,10);
  --pink: rgb(232,108,112);
  --light-pink: rgb(238,169,171);
  --light-blue: rgb(187,250,228);
  --light-yellow: rgb(246,250,185);
  --light-yellow-transparent: rgba(246,250,185 .5)
}

html {
  font-size: 80%;
}

body {
  font-family: 'Rubik', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left; 
  font-weight: 300;
  background: white;
  color: var(--main-font-color);
  padding: 3rem;
  position: relative;
}

@media screen and (max-width: 820px) {
  html { 
    font-size: 80%; 
  }

  body {
    padding: 2rem;
  }

  .row {
    flex-direction: column;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Rubik', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5rem;
}

p {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 2rem;
  opacity: .9;
}

strong {
  font-weight: 400;
}

ul {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 2rem;
  opacity: .9;
  margin: 0;
}

li {
  margin: 0;
  list-style: circle;
  opacity: .8;
}

.page {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 400ms cubic-bezier(0, .8, .13, 1);
  background-color: var(--light-blue);
}

a:hover:after {
  top: 0%;
}

.skill {
  flex: 1;
  padding: .5rem 0;
  padding-right: 1rem;
}

.skill-header {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  opacity: .4;
  line-height: 1rem;
}

.skill-set {
  margin: 0;
  line-height: 2rem;
}

.education {
  margin: 1rem 0;
}

.education-certificate {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
}

.education-duration {
  float: right;
  font-weight: 300;
  font-size: 1.1rem;
  opacity: .6;
}

.education-institution {
  margin: 0;
}

.project {
  line-height: 1.2rem;
  margin: 2rem 0;
}

.project p {
  margin: .5rem 0;
}

.project-header {
  font-weight: 500;
  font-size: 1.4rem;
  opacity: .6;
}

.project-link {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 1;
  float: right;
}

.project-time {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 300;
  opacity: .6;
  float: right;
}

.project-footer {
  opacity: .7;
}

.work-time {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 300;
  opacity: .6;
}

.piggie {
  text-align: center;
  margin-bottom: 8rem;
}

.piggie-cup {
  width: 10rem;
  height: auto;
  margin: 5rem 7rem 0 5rem;
  opacity: .9;
}

.art-credit {
  color: var(--pink);
  text-align: right;
  margin-top: 90px;
}

.art-credit-link {
  color: var(--pink)
}

.piggie-icecream {
  width: 8rem;
  height: auto;
  margin: 1rem 0;
  margin-left: -2rem;
  opacity: .9;
}

.piggie-nav {
  position: fixed;
  right: -9rem;
  top: 35%;
  padding: 2rem;
  padding-left: 0;
  padding-bottom: 0;
  text-align: left;
  transition: all .4s ease;
}

.piggie-nav * {
  margin: 0;
}

.nav-list {
  margin-left: 3rem;
  background-color: rgba(265,265,265, .8);
}

.piggie-bow {
  width: 8rem;
  height: auto;
  margin: 1rem 0;
  opacity: .9;
}

.piggie-nav:hover {
  right: 0rem;
  transition: all .4s ease;
}

.piggie-nav:focus {
  right: 0rem;
  transition: all .4s ease;
}

.small-text {
  opacity: .6;
  font-size: 90%;
}

/* projects */
.projects {
  margin-top: 90px;
}